* {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    -webkit-tap-highlight-color: transparent;
    user-select: none;       /* Запрет выделения текста */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.delete_permission_container {
    opacity: 0;
    z-index: 30;
    background-color: #ffffff;
    height: calc(var(--vh) * 1);
    width: 100vw;
    position: absolute;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.5s ease; /* 💡 добавлено */
    pointer-events: none; /* 💡 блокирует клики, пока невидим */
}

.delete_permission_container.show {
    opacity: 0.85;
    pointer-events: all; /* 💡 разрешает клики */
}


.bin_img {
    height: calc(var(--vh) * 0.07);
    padding-top: calc(var(--vh) * 0.13);
}

.delete_permission_text {
    padding-top: 2vh;
    font-weight: 700;
}

.yes_no_container {
    position: absolute;
    width: 100vw;
    height: calc(var(--vh) * 0.13);
    display: flex;
    top: calc(var(--vh) * 0.87);
    justify-content: space-between;
}

.btn_container {
    height: 100%;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yes_no_img {
    height: 60%;
}

.no_img {
    height: 65%;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #00000050;
    border-top: 4px solid black;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


@font-face {
    font-family: 'Shree Devanagari 714';
    src: url('/families/ShreeDev0714.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --main-font: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.back {
    height: var(--vh);
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
}

.centered {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile_container {
    position: absolute;
    width: 100%;
    height: calc(var(--vh) * 0.16);
    top: calc(var(--vh) * 0.08);
    display: flex;
}

.profile_img {
    height: 110%;
    position: absolute;
    border-radius: 100%;
    right: 0;
}

.fav {
    height: 20px;
    position: absolute;
    right: 0%;
    bottom: -10%;
    display: none;
    justify-content: end;
    align-items: end;
    padding: 2vw;
    border-radius: 100%;
    background-color: #ffffff;
}

.favourite_btn {
    height: 100%;
    background-color: #ffffff;
}

#fav1 {
    display: none;
}

.profile_info {
    display: flex;
    flex-direction: column;
    gap: calc(var(--vh) * 0.01);
    justify-content: center;
    align-items: center;
}

.username {
    font-family: "Inter";
    font-weight: 400;
    font-size: 13px;
}

.name {
    max-width: 45vw;
    white-space: nowrap;        /* Не переносить текст */
    overflow: hidden;           /* Обрезать, если не влезает */
    text-overflow: ellipsis;    /* Добавить "..." */
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}


.count {
    text-align: center;
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 2.5vh;
}


.user_review_and_link {
    gap: 0.8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.user_review {
    width: 20vw;
    height: calc(var(--vh) * 0.037);
    border-radius: 100px;
    border: 1px solid black;
    display: flex;
    gap: 0.8vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.star {
    height: calc(var(--vh) * 0.016);
}

.link {
    height: calc(var(--vh) * 0.037);
    border-radius: 100px;
    border: 1px solid black;
    width: calc(var(--vh) * 0.037);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_img {
    height: 50%;
}

.reviews {
    position: relative;
    width: 100%;
    height: calc(var(--vh) * 0.08);
    top: calc(var(--vh) * 0.26);
}

.otzivi {
    font-family: "Inter";
    font-weight: 500;
    padding-bottom: calc(var(--vh) * 0.008);
}

.btns_container {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    position: relative;
}

.btn {
    width: 50%;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    border: none;
}

.btn_info_info {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.for_me, .from_me {
    font-weight: 510;
    color: black;
    font-size: calc(var(--vh) * 0.024);
}

.btn_info_info.sec {
    position: relative;
    right: 0;
}

.start {
    display: flex;
    justify-content: start;
}

.end {
    display: flex;
    justify-content: end;
}

.underline {
    position: relative;
    height: 1px;
    width: 20%;
    background-color: black;
    left: 0.1px;
    transition: all 0.3s ease-out;
}

.underline.right {
    left: 80%;
}


.tabs {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ddd;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.tab.active {
    border-bottom: 3px solid black;
}

.tab-content-container {
    position: relative;
    display: flex;
    width: 200%;
    transition: transform 0.4s ease;
}

.tab-content {
    position: relative;
    overflow-y: auto;
    height: calc(var(--vh) * 0.5);
    width: 100%;
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    top: calc(var(--vh) * 0.3);
}

.subs {
    font-weight: 400;
    font-size: calc(var(--vh) * 0.02);
}

.nothing_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nothing {
    width: 70%;
    text-align: center;
    font-family: 'Inter';
    font-weight: 600;
}

.chain_img {
    height: calc(var(--vh) * 0.02);
    padding-right: 2vw;
}

.link_copied {
    position: absolute;
    top: calc(var(--vh) * 0.9);
    /* border: solid 1px #ffffff; */
    border: none;
    background-color: #d9d9d9;
    padding: 1vw;
    padding-left: 2vw;
    border-radius: 100px;
    font-size: calc(var(--vh) * 0.02);
    opacity: 0;
    transition: top 0.5s ease, opacity 0.5s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    z-index: 10000;
}

.show_content {
    z-index: 35;
}

.link_copied.move-up {
    top: calc(var(--vh) * 0.85); /* съезжает вверх */
    opacity: 1;
}

.on-top {
    opacity: 1;
}


.show_content .mini {
    opacity: 0;
}


.review {
    position: relative;
    background-color: #EBE8E8;
    width: 100%;
    margin-top: 2vh;
    border-radius: 20px;
    min-height: 10vh;
    z-index: 1;
}


.first_line {
    padding-top: 1vh;
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.review_container {
    position: relative;
}

.nothing_container {
    height: calc(var(--vh) * 0.5);
}

.review_count {
    font-size: 3vh;
    font-weight: 800;
}

.stars {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.review_star {
    height: 100%;
    
}

.second_line {
    gap: 4vw;
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 2vh 2vh;
    padding-top: 1vh;
}

.review_id {
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding-bottom: 2vh;
    color: #7d7d7d;
    font-weight: 300;
    font-size: calc(var(--vh) * 0.015);
    
}



.first_column {
    width: 72%;
    font-size: 1.6vh;   
}

.person {
    padding-top: 2.4vh;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 72%;
    height: 4vh;
}

.person_ava {
    height: 120%;
    border-radius: 100%;
}

.person_review {
    height: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.person_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 4vh;
    padding-left: 1.5vw;
}

.person_review_int {
    height: 2vh;
    font-size: 1.76vh;
    padding-right: 0.6vw;
}

.person_review_img {
    padding-top: calc(var(--vh) * 0.0015);
    height: 1.6vh;
}

.person_name {
    max-width: 40vw;
    white-space: nowrap;        /* Не переносить текст */
    /* overflow-x: hidden; */
    text-overflow: ellipsis; 
    font-weight: 500;
    font-size: calc(var(--vh) * 0.016);
}

.second_column {
    height: 100%;
    gap: 1vh;
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.screenshot {
    border-radius: 1vh;
    width: 100%;
    z-index: 11;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
}

.modal img {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 38px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#modal-nav {
  margin-top: 20px;
}

#modal-nav button {
  background: none;
  border: none;
  color: white;
  font-size: 36px;
  cursor: pointer;
  margin: 0 30px;
}

.hidden {
  display: none;
}

.remove_and_recreate {
    position: relative;
    right: 0%;
    bottom: 10%;
    width: 20vw;
    padding-right: 4%;
    height: 2.7vh;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    /* justify-content: space-between; */
}

.remove {
    z-index: 10;
    height: 100%;
}

.recreate {
    height: 100%;
}
