* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;       /* Запрет выделения текста */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


@font-face {
    font-family: 'Shree Devanagari 714';
    src: url('../families/ShreeDev0714.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #00000050;
    border-top: 4px solid black;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.back {
    width: 100vw;
    height: calc(var(--vh) * 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.centered {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(var(--vh) * 0.06);
}

.about_project_container {
    width: 85vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: calc(var(--vh) * 0.04);
}

.about_project {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: calc(var(--vh) * 0.02);
    font-weight: 600;
    color: #333;
}

#lottie-container {
    max-width: 120px;
    max-height: 120px;
    width: 25vw;
    height: 25vw;
    margin-top: 3vcalc(var(--vh) * 0.03)h;
    position: relative;
    top: calc(var(--vh) * 0.3);
}


.input-container {
    position: relative;
    top: calc(var(--vh) * 0.3);
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 8px;
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    overflow: hidden;
    height: 40px; /* фиксируем общую высоту */
}

.input {
    flex: 1;
    outline: none;
    font-size: 16px;
    /* font-family: "Shree Devanagari 714"; */
    white-space: nowrap;
    overflow-x: auto;
    max-width: 100%;
    padding: 0;
    margin: 0;
    line-height: 24px; /* совпадает с font-size примерно */
    height: 24px;       /* фиксируем видимую высоту */
    min-height: 24px;
    display: inline-block;
    vertical-align: middle;
}


.input {
    pointer-events: auto;
}
.input-container::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 1000px; /* перекрытие снизу */
    pointer-events: none; /* не даёт кликам попасть в .input */
}

.input-container::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    height: 1000px; /* перекрытие снизу */
    pointer-events: none; /* не даёт кликам попасть в .input */
}

.input:empty:before {
    content: attr(data-placeholder);
    color: #aaa;
    pointer-events: none;
}

.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    flex-shrink: 0;
}

.arrow-button img {
    width: 20px;
    height: 20px;
}


.link_copied {
    position: absolute;
    top: calc(var(--vh) * 0.9);
    border: solid 1px gray;
    padding: 1vw;
    padding-left: 2vw;
    border-radius: 100px;
    font-size: calc(var(--vh) * 0.02);
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    transition: top 0.5s ease, opacity 0.5s ease;
}

.link_copied.move-up {
    top: calc(var(--vh) * 0.85); /* съезжает вверх */
    opacity: 1;
}

.chain_img {
    height: calc(var(--vh) * 0.024);
    padding-right: 1vw;
}